<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ifanr.tangzhi">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".ui.SchemeHandlerActivity"
            android:theme="@style/AppTheme.Translucent"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="tangzhi" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.usercontract.UserContractActivity" />
        <activity android:name=".ui.timeline.TimelineActivity" />
        <activity android:name=".ui.follows.FollowsActivity" />
        <activity android:name=".ui.message.MessageActivity" />
        <activity android:name=".ui.signin.bindphone.BindPhoneActivity" />
        <activity android:name=".ui.signin.bindlocalphone.BindLocalPhoneActivity" />
        <activity android:name=".ui.signin.email.SignInByEmailActivity" />
        <activity
            android:name=".ui.signin.phone.SignInByPhoneActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".ui.points.PointsActivity" />
        <activity android:name=".ui.updateprofile.UpdateProfileActivity" />
        <activity android:name=".ui.signin.wechat.SignInByWechatActivity" />
        <activity
            android:name=".ui.search.SearchActivity"
            android:windowSoftInputMode="stateAlwaysVisible" />
        <activity android:name=".ui.index.IndexActivity" />
        <activity android:name=".ui.comment.CommentActivity" />
        <activity
            android:name=".ui.sendcomment.SendCommentActivity"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name=".ui.sendreview.SendReviewActivity"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name=".ui.share.ShareActivity"
            android:theme="@style/AppTheme.ShareActivity" />
        <activity
            android:name=".ui.gallery.GalleryActivity"
            android:theme="@style/AppTheme.GalleryActivity" />
        <activity android:name=".ui.productlist.ProductListActivity" />
        <activity android:name=".ui.relatedproducts.RelatedProductsActivity" />
        <activity android:name=".ui.postlist.PostListActivity" />
        <activity android:name=".ui.browser.BrowserActivity" />
        <activity android:name=".ui.productparam.ProductParamActivity" />
        <activity android:name=".ui.product.ProductActivity" />
        <activity android:name=".ui.LaunchActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" />
        <activity
            android:name="com.minapp.android.sdk.wechat.WXEntryActivity"
            android:launchMode="singleTop"
            android:theme="@style/HyDrogenTranslucent" />

        <activity-alias
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:targetActivity="com.minapp.android.sdk.wechat.WXEntryActivity" />
    </application>

</manifest>